.photoMore {
    button {
        margin: auto;
        margin-bottom: 32px;
        cursor: pointer;
    }
}

.photoContent {
    width: 80%;
    margin: auto;
}

.photoBox {
    display: flex;
    align-items: flex-end;
    column-gap: 16px;
    @media screen and (max-width: 420px) {
    display: flex;
    flex-direction: column;
    }
}

.photoInfo {
    width: 50%;
    padding-bottom: 14px;
    border-bottom: 1px solid black;
    @media screen and (max-width: 420px) {
        padding-top: 16px;
        width: 100%;
        order: 2;
    }
    li {
        padding-top: 14px;
        font-size: 0.875rem;
        text-transform: uppercase;
    
    }
}

.photoTitle {
    // width: 90%;
    font-size: 4.125rem;
    line-height: 3.825rem;
    font-style: italic;
    text-transform: uppercase;
    @media screen and (max-width: 420px) {
        font-size: 2.5rem;
        line-height: 2rem;
        }

}

.photoImg {
    max-width: 50%;
    height: auto;
    @media screen and (max-width: 420px) {
        max-width: 100%;
    }

    img {
        width: 100%;
        max-height: unset;
        display: flex;
    }
}

.contactSection {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 118px;
}

.photoContact {
    width: 50%;
    padding-right: 8px;
    padding-top: 32px;
    padding-bottom: 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media screen and (max-width: 420px) {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding-top: 12px;
        padding-bottom: 12px;
    }    
    p {
        font-size: 0.875rem;
        @media screen and (max-width: 420px) {
            margin-bottom: 8px;;
        }    
    }
    .contactButton {
        cursor: pointer;
    }
}

.previewBox {
    display: flex;
    flex-direction: column;
    @media screen and (max-width: 420px) {
        display: none;
    }    
}

.previewImgBox {
    position: relative;
    width: 80px;
    min-height: 80px;
    overflow: hidden;
    
    .previewImg {
        position: absolute;
        aspect-ratio: 1;
        transform: translateY(90px);
        opacity: 0;
        transition: transform 250ms, opacity 750ms;
    }
    
    .visible {
        transform: translateY(0);
        opacity: 1;
    }
}

.previewArrow {
    height: 24px;
    font-size: 24px;
    line-height: 18px;
    display: inline-flex;
    justify-content: space-between;
}



.site__navigation {
    font-size: 1rem;
}

.photoMore {
    padding-top: 48px;
    border-top: 1px solid black;
    @media screen  and (max-width: 420px){
        padding-top: 16px;
    }
    p {
        font-size: 1.125rem;
        text-transform: uppercase;
        padding-bottom: 24px;
    }
    .moreButton {
        margin: 36px auto;
    }
}

.photoMoreBox {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    column-gap: 16px;
    row-gap: 16px;
    padding-bottom: 32px;
    @media screen  and (max-width: 420px){
        flex-direction: column;
        flex-wrap: nowrap;
    }
    .photoM {
        max-width: 48.5%;
        height: 100%;
        position: relative;
        @media screen  and (max-width: 700px){
            max-width: 100%;
        }
        img {
            display: flex;
            aspect-ratio: 1.5;
            object-fit: cover;
        }
        .photo_card {
            width: 100%;
            height: 0%;
            background-color:rgba(0,0,0,0.5);
            position: absolute;
            top: 0;
            right: 0;
            height: 0;
            overflow:hidden;
            transition: height 250ms ease-in-out;
            span {
                display:inline-block;
                text-align:center;
                color:white;
                text-transform: uppercase;
                position: absolute;
            }
            .card_ref {
                bottom: 4px;
                left: 16px;
            }
            .card_cat {
                bottom: 4px;
                right: 16px;
            }
            .card_info {
                display: inline-block;
                position: absolute;
                width: 50px;
                height: 50px;
                background: url(../img/eye.svg) center center / 100% 100%;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%);
            }
            .card_lightbox {
                width: 35px;
                height: 35px;
                border-radius: 50px;
                background: black url(../img/box.svg) center center / 50% 50% no-repeat;
                top: 16px;
                right: 16px;
                &:hover {
                    cursor: pointer;
                }
              }
              
        }
        &:hover .photo_card {
            height: 100%; 
        }
    }
}
